<div class="banner">
  <div class="container">
    <h1>Lists</h1>
  </div>
</div>

<div class="container margin-top margin-bottom">
  <div class="container-space-between">
    <h2>My list</h2>
    <%= link_to "Add a list", new_list_path, class: "btn btn-ghost" %></div>
  <div class="cards">
    <% @lists.each do |list| %>
      <%=link_to list_path(list) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? (cl_image_path list.photo.key) : "http://loremflickr.com/300/260/cocktail" %>)">
        <%= list.name%>
      </div>
      <%end%>
    <% end %>
  </div>
</div>
