.btn-ghost {
  color: white;
  background-color: #1B998B;
  padding: 8px 24px;
  font-weight: 700px;
  border-radius: 50px;
  font-weight: lighter;
  transition: 0.3s;
}

.btn-ghost:hover {
  background-color: #F46036;
  color: white;
}
